@use "../../styles/strapiTheme.scss" as st;

.typography {
  &.ellipsis {
    // overflow: hidden;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }
  &[data-variant="alpha"] {
    font-weight: st.fontWeights("bold");
    line-height: st.lineHeights(2);
    font-size: st.fontSizes(5);
  }

  &[data-variant="beta"] {
    font-weight: st.fontWeights("bold");
    line-height: st.lineHeights(1);
    font-size: st.fontSizes(4);
  }

  &[data-variant="delta"] {
    font-weight: st.fontWeights("semi-bold");
    line-height: st.lineHeights(2);
    font-size: st.fontSizes(3);
  }

  &[data-variant="epsilon"] {
    line-height: st.lineHeights(6);
    font-size: st.fontSizes(3);
  }

  &[data-variant="omega"] {
    line-height: st.lineHeights(4);
    font-size: st.fontSizes(2);
  }

  &[data-variant="pi"] {
    line-height: st.lineHeights(3);
    font-size: st.fontSizes(1);
  }

  &[data-variant="sigma"] {
    font-weight: st.fontWeights("bold");
    line-height: st.lineHeights(5);
    font-size: st.fontSizes(0);
    text-transform: uppercase;
  }

  &:not([data-variant]) {
    // Default style
    line-height: st.lineHeights("default");
    font-size: st.fontSizes("default");
  }
}
