.textOverflowContainer {
  overflow: hidden;
  max-width: 100%;
  flex-grow: 1;

  mask-image: linear-gradient(270deg, transparent, #32324d 1.5rem);
  mask-mode: alpha;

  .textOverflow {
    > * {
      // Ensure the text never tries to wrap
      white-space: nowrap;
      overflow: hidden;
    }
  }

  &.defaultHidden {
    .textOverflow {
      transition: opacity 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    }
    &[data-hidden='true'] .textOverflow {
      opacity: 0;
    }
    &[data-hidden='false'] .textOverflow {
      opacity: 1;
    }
  }
}
